{% extends 'TIS_app/base.html' %}

{% block body %}
<div id="inventory_pk" class="d-none">{{inventory.pk}}</div>

<p class="text-center text-muted m-0 mt-1">
    {{ inventory.created_date }} - 
    {% if inventory.finish_date %}{{inventory.finish_date}}{% endif %}
</p>

{% comment %} Form to update inventory {% endcomment %}

<form id="update-inventory" action="" method="POST" class="mt-0">{% csrf_token %}
    <button id="btn-edit-inventory" class="btn btn-sm btn-outline-danger position-absolute top-0 end-0 mt-2">Edit
        details</button>
    <button id="btn-save-inventory" class="btn btn-sm btn-primary position-absolute top-0 end-0 mt-2"
        name="update-inventory">Save</button>
    <div class="container-sm">
        <div class="row text-center justify-content-center mb-2">
            <h2 class="text-center mt-2 text-break">{{ inventory.name }}</h2>
            <p class="text-center text-muted text-break">{{ inventory.description }}</p>

        </div>
        {{ form.status.as_hidden }}

        {% comment %} Timeline steps and update inventory status by ajax {% endcomment %}

        <div class="row justify-content-sm-center flex-nowrap">
            <div class="col d-flex justify-content-end align-items-start">
                <button id="status-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey"
                        class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                        <title>Previous step</title>
                        <path fill-rule="evenodd"
                            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z" />
                    </svg>
                </button>
            </div>
            <div class="col-md-auto flex-wrap">
                <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                    <div class="timeline-step step-1 active">
                        <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top">
                            <div class="inner-circle"></div>
                            <p class="h6 text-muted mb-0 mb-lg-0">Inventory</p>
                        </div>
                    </div>
                    <div class="timeline-step step-2">
                        <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top">
                            <div class="inner-circle"></div>
                            <p class="h6 text-muted mb-0 mb-lg-0">Valorization</p>
                        </div>
                    </div>
                    <div class="timeline-step mb-0 step-3">
                        <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top">
                            <div class="inner-circle"></div>
                            <p class="h6 text-muted mb-0 mb-lg-0">Tree management</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-start align-items-start">
                <button id="status-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey"
                        class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                        <title>Next step</title>
                        <path fill-rule="evenodd"
                            d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    {% comment %} Rest of inventory details {% endcomment %}

    <div class="ms-0 m-2">
        <div class="col-12">
            <div class="input-group m-2">
                <div class="input-group-text text-muted">Principal</div>
                {{ form.principal }}
                <div class="input-group-text text-muted">Principal address</div>
                {{ form.principal_address }}
            </div>
            <div class="input-group m-2">
                <div class="input-group-text text-muted">Author</div>
                <div class="form-control text-muted">{{ inventory.author.username }}</div>
            </div>
        </div>
    </div>
</form>

{% comment %} Button to add tree in current inventory and display tree count {% endcomment %}

<div class="d-flex flex-row-reverse mt-5">
    <a href="{% url 'tree-add' inventory.pk %}" id="add-tree-link" role="button"
        class="btn text-center btn-outline-primary me-2 text-decoration-none position-relative">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </span>
        <span class="ms-2">Add tree</span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {% if inventory.tree_set.all.count > 99 %}
            99+
            {% else %}
            {{ inventory.tree_set.all.count }}
            {% endif %}
        </span>
    </a>
</div>

{% include "TIS_app/pagination.html" %}


{% comment %} Table with trees, contains formsets to valorization and management steps, and other actions {% endcomment %}

<div id="trees" class="mt-3">
    {% for tree, valorization_form, management_form in trees %}
    {% if forloop.first %}
    <div class="table-responsive">

        <!-- {% comment %} Formset errors are dispaly {% endcomment %}

        {% for formset in formsets %}
        {% if formset.errors %}
        {% for error in formset.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% endfor %} -->


        <table class="table table-striped table-hover table-bordered align-middle caption-top">
            <caption>List of trees</caption>
            <thead class="align-middle text-center border-bottom-0">
                <tr id="status-labels" class="border-top-0">
                    <td scope="col" colspan="1" class="border-0"></td>
                    <td scope="col" colspan="5" style="background-color: rgba(134, 233, 134, 0.692); line-height: 20%;"
                        class="fst-italic text-dark">Inventory</td>
                    <td scope="col" colspan="2" style="background-color: rgba(68, 173, 68, 0.658); line-height: 20%;"
                        class="fst-italic">Valorization</td>
                    <td scope="col" colspan="1" style="background-color: rgba(35, 131, 35, 0.671); line-height: 20%;"
                        class="fst-italic">Tree management</td>
                    <td scope="col" colspan="1"></td>
                </tr>
                <tr id="row-with-headers-of-table-trees">
                    <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Your own indetification number of tree.">ID</th>
                    <th scope="col">Species</th>
                    <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Tree height measured from the base to the top of the tree. Rounded to full meters.">
                        Height<br><i class="text-muted fw-light">[meters]</i></th>
                    <th scope="col">Crown width<br><i class="text-muted fw-light">[meters]</i></th>
                    <th scope="col">Roloff<br><i class="text-muted fw-light">[scale 0-4]</i></th>
                    <th scope="col">Circuit<br><i class="text-muted fw-light">[centimeters]</i></th>
                    <th scope="col" class="tree-valorization">Biocenotic</th>
                    <th scope="col" class="tree-valorization">Value<br><i class="text-muted fw-light">[scale 1-5]</i>
                    </th>
                    <th scope="col" class="tree-management">Procedure</th>
                    <th scope="col" class="text-danger fs-5">ACTIONS</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <form id="form-trees" action="" method="POST" class="p-0 m-0 w-100 border-0">{% csrf_token %}
                    {% for formset in formsets %}
                    {{ formset.management_form }}
                    {% endfor %}
                    {% endif %}
                    <tr class="one-position-tree">
                        <th scope="row" data-tree-pk="{{ tree.pk }}">{{ tree.lp }}</th>
                        <td>{{ tree.species }}</td>
                        <td>{{ tree.height }}</td>
                        <td>{{ tree.crown_width }}</td>
                        <td>{{ tree.roloff }}</td>
                        <td>
                            {% for circuit in tree.circuit_set.all %}
                            {% if forloop.first %}
                            {{ circuit.value }}
                            {% else %}
                            + {{ circuit.value }}
                            {% endif %}
                            {% empty %}

                            {% endfor %}
                        </td>
                        <td class="tree-valorization">{{ valorization_form.is_biocenotic }}</td>
                        <td class="tree-valorization">{{ valorization_form.value }}</td>
                        <td class="tree-management">{{ management_form.procedure }}</td>
                        <td class="tree-actions">
                            <div class="d-inline-flex">
                                <button type="button" class="btn btn-sm text-success cameraButton"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasPhoto"
                                    aria-controls="offcanvasWithBackdrop">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-camera" viewBox="0 0 16 16">
                                        <title>Add Photo</title>
                                        <path
                                            d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                        <path
                                            d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="d-inline-flex">
                                <a href="{% url 'tree-galery' inventory.pk tree.lp %} " class="btn btn-sm text-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-image" viewBox="0 0 16 16">
                                        <title>Gallery</title>
                                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                        <path
                                            d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="d-inline-flex">
                                <button type="button" class="btn btn-sm text-success commentButton"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasComments"
                                    aria-controls="offcanvasWithBackdrop">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="22" height="22" fill="currentColor">
                                        <title>Comments</title>
                                        <path
                                            d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z"
                                            fill="none" stroke="currentColor" stroke-linejoin="round"
                                            stroke-width="32" />
                                        <circle cx="160" cy="216" r="32" />
                                        <circle cx="256" cy="216" r="32" />
                                        <circle cx="352" cy="216" r="32" />
                                    </svg>
                                </button>
                            </div>

                        </td>
                    </tr>
                    {% if forloop.last %}
                </form>
            </tbody>
        </table>
        <div id="tree-form-submit" class="d-flex flex-row-reverse">
            <button id="valorization-submit" class="btn btn-primary mt-2 me-5" name="valorization"
                form="form-trees">Save Valorization</button>
            <button id="management-submit" class="btn btn-primary mt-2 me-5" name="management" form="form-trees">Save
                Decision</button>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div>
        <p class="fs-4 text-center text-muted">Any trees</p>
    </div>
    {% endfor %}
</div>

{% comment %} Add photo form {% endcomment %}

<div class="offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvasPhoto"
    aria-labelledby="offcanvasPhotoLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasPhotoLabel">Adding Tree Photos</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <form id="cameraForm" action="{% url 'api-add-photo-tree' %}" method="POST" name="cameraForm"
        enctype='multipart/form-data' class="w-100 d-flex flex-column border-0">{% csrf_token %}
        {{ photo_form }}
        <button class="btn btn-primary mt-5 ms-auto p-2">Add Photo</button>
        <span id="photo-tree-lp" class="d-none"></span>
    </form>
</div>

{% comment %} Add comments to tree {% endcomment %}

<div class="offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvasComments"
    aria-labelledby="offcanvasCommentsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCommentsLabel">Adding Comments</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="comments-list" class="overflow-auto h-75"></div>
    <form id="commentForm" action="{% url 'api-add-comment-tree' %}" method="POST"
        class="w-100 d-flex flex-column border-0">{% csrf_token %}
        {{ comment_form }}
        <button class="btn btn-primary mt-3 ms-auto p-2">Add Comment</button>
        <span id="comment-tree-lp" class="d-none"></span>
    </form>
</div>

{% endblock %}